<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HELLO WORD !</h2>
    <p>nous sommes des etudiants en GL <br> Annee Academic : {{ annee_academique}} </p>

    <p>Note from la L2 et L3</p>
    <p> nous sommes:
    {% for nom in noms %}
    {{nom}}
    {% endfor %} </p>
</body>
</html>